<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image loader</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
  #dynimg {
  display: block;
  image-rendering: pixelated;
  filter: grayscale(100%) contrast(20) brightness(1.5);
  max-height: 380px;
  max-width: 100%;
  margin: auto;
  }
  #pixtochat {
    border-radius: 5px;
    background-image: url(http://darthyoshi.com/twitch_assets/back_lined.png);
    background-repeat: repeat;
    margin-bottom: 4px;
    padding-top: 0px !important;
    padding-bottom: 4px !important;
    border:2px solid black;
    overflow: hidden;
  }
</style>
</head>

<body>


<div id="pixtochat" style="width: 540px; height: 400px;">
<canvas id="drawCanvas" width="540" height="20"></canvas>
<img id="dynimg" src="">
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
<script>
  var drawingBox = document.getElementById('drawCanvas').getContext('2d');
  var socket = io.connect('ws://localhost:3000');
  socket.on('image', function(info) {
    if(info.modded)
    {
        document.getElementById("dynimg").src = info.url;
        drawingBox.font = "18px Arial";
        drawingBox.textBaseline = "top";
        drawingBox.clearRect(0, 0, 640, 20);
        drawingBox.fillStyle = "#eda300";
        drawingBox.strokeText(info.user, 0, 0);
        drawingBox.fillText(info.user, 0, 0);
    }
  });
</script>
</body>
</html>